{% extends "blog/base.html" %}
{% block content %}
<br>
<div class="container post-container">
    <div class="jumbotron">
<h1>About the blog!</h1>
<p>Welcome to the world of worldwide blogs! Here you can reach out to the whole world with your blog. You can read people's and can even share your own hought on any and every topic.
    GO AHEAD, REACH OUT TO THE WORLD NOW!!!</p>
        <p>Give your thoughts wings and reach out to billion of peoples. Influence them, connect with them share your story.</p>
        <p>Bring the best of your content and publish here!</p>
        <p>In case of questions or query, reach out to us on any social media or directly contact us from below:</p>


        <h3>What are you waiting for, go out there and share your stories!!!</h3>
    </div>
</div>
{% endblock %}